/* Base Styles */
.main-container {
    padding: 4rem 2rem;
    border: 1px solid #e2e8f0;
    background-color: #f7f7f7;
  }
  
  .section-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #2b6cb0;
    cursor: pointer;
  }
  
  .section-heading:hover {
    color: #dd6b20;
  }
  
  .section-heading .WE {
    display: inline-block;
    margin-right: 0.5rem;
  }
  
  .image-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .image-container img {
    height: 20rem;
    border-radius: 9999px;
  }
  
  .text-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  
  .text-container h1 {
    font-size: 1.875rem;
    color: #2b6cb0;
    font-weight: 600;
    cursor: pointer;
  }
  
  .text-container h1:hover {
    color: #dd6b20;
  }
  
  .text-container p {
    color: #02060c;
  }
  
  .text-container .font-bold {
    cursor: pointer;
  }
  
  .text-container .font-bold:hover {
    color: #dd6b20;
  }
  
  /* Mobile Styles */
  @media only screen and (max-width: 768px) {
    .main-container {
      /* padding: 2rem 1rem; */
      padding: 6rem 2rem;
      color:#02060c;
    }
  
    .section-heading {
      font-size: 1.5rem;
    }
  
    .image-container img {
      height: 15rem;
    }
  
    .text-container {
      padding: 0;
    }
  
    .text-container h1 {
      font-size: 1.5rem;
    }
  }
  