.bannerImg img{
    animation: floatImage 4s ease-in-out infinite 
  }
  
  @keyframes floatImage {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2.4rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  /* Base Styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #f7f7f7;
  color: #333;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 100%;
  /* padding: 4rem 2rem; */
  /* box-sizing: border-box; */
}

/* Mobile Styles */
@media (max-width: 768px) {
  section {
    /* padding: 3rem 1rem; */
  }

  .header2 {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #f7f7f7;
    /* border-bottom: 1px solid #e2e8f0; */
  }
}

@media (max-width: 480px) {
  /* section {
    padding: 2rem 1rem;
  } */

  /* .header2 {
    padding: 0.5rem 1rem;
  } */
}
