.bannerImg img{
    animation: floatImage 4s ease-in-out infinite 
  }
  
  @keyframes floatImage {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2.4rem);
    }
    100% {
      transform: translateY(0);
    }
  }